@media screen and (max-width: 1250px) {
.navagation{
    flex-direction: column;
    height: fit-content;
    text-align: center;

}

.nav-left{
    flex-direction: column;
    text-align: center;
}

.btn{
    

    margin-left: 3px;
    width: 63px;
}

input{
    margin-left: 61px;
}
.content{
    flex-direction: column;

}

.Article-cont{
    display: flex;
    flex-direction: column;
}



.cont-left img{
    display: none;
}

.Article-cont img{
    height: 30vw;
    text-align: center;
}



.tex{
    text-align: center;
}

textarea{
    margin-left: 62px;
    width: 51%;
}

.form-input{
    margin-left: 62px;
    width: 88%;
}

.fome{
    text-align: center;
}
.contect {
    flex-direction: row;
    position: none;
}
}